.flex-container {
    width: 250px;
    height: 150px;
    background-color: #b5e3bf;
    margin: 0 auto 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 15px;
}

.quadrado {
    width: 150px;
    height: 150px;
}

.verde1 {
    background-color: #92f0a7;
}

.roxo {
    background-color: #cd92f0;
}

.semaforo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 30px;
    gap: 20px;
    align-items: center;
    background-color: rgb(65, 65, 65);
    height: 530px;
    width: 180px;
    padding: 15px;
    border-radius: 10px;
}

.circulo {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.vermelho {
    background-color: rgb(248, 52, 52);
    box-shadow: 7px 7px 7px 7px rgba(255, 69, 69, 0.658);

}
.vermelho:hover {
    background-color: rgb(253, 79, 79);
}

.amarelo {
    background-color: rgb(255, 251, 28);
     box-shadow: 7px 7px 7px 7px rgba(255, 251, 23, 0.61);
}
.amarelo:hover {
    background-color: rgb(253, 255, 132);
}

.verde {
    background-color: rgb(84, 235, 84);
     box-shadow: 7px 7px 7px 7px rgba(102, 223, 102, 0.63);
}
.verde:hover {
    background-color: rgb(142, 255, 142);
}


