.flex-container {
    width: 250px;
    height: 150px;
    background-color: #b5e3bf;
    margin: 0 auto 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 15px;
}

.quadrado {
    width: 150px;
    height: 150px;
}

.verde1 {
    background-color: #92f0a7;
}

.roxo {
    background-color: #cd92f0;
}

.semaforo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 30px;
    gap: 20px;
    align-items: center;
    background-color: rgb(99, 98, 98);
    height: 500px;
    width: 180px;
    padding: 15px;
    border-radius: 10px;
}

.circulo {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.vermelho {
    background-color: rgb(255, 69, 69);
    box-shadow: 10px 10px 10px 10px rgba(165, 165, 165, 0.5);

}
.vermelho:hover {
    background-color: rgb(255, 86, 86);
}

.amarelo {
    background-color: rgb(255, 255, 23);
     box-shadow: 10px 10px 10px 10px rgba(165, 165, 165, 0.5);
}
.amarelo:hover {
    background-color: rgb(255, 255, 128);
}

.verde {
    background-color: rgb(102, 223, 102);
     box-shadow: 10px 10px 10px 10px rgba(165, 165, 165, 0.5);
}
.verde:hover {
    background-color: rgb(142, 255, 142);
}