@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nata Sans", sans-serif;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 15px;
    color: rgb(26, 86, 134);
}

.flex-container {
    width: 90%;
    height: 200px;
    background-color: rgb(12, 72, 121);
    margin: 0 auto 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1.5px solid rgb(43, 80, 136);;
    border-radius: 18px;
}

.flex-item {
    width: 80px;
    height: 80px;
    background-color: rgb(43, 80, 136);
    border: 2px solid rgb(195, 227, 253);;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 13px;
    margin: 10px;
    color: aliceblue;
}

.justify-center {
    justify-content: center;
}